.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.modulo {
  display: flex;
  gap: 54px;
  justify-content: space-between;
  margin-top: 56px;
  align-items: center;
}

.modulo h2 {
  font-size: 48px;
}
